*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C)
}

.grid {
    display: grid;
    justify-content: center;
    line-height: 2;
}

.grid > button {
    cursor: pointer;
    line-height: 2;
}
